*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display:grid;
    grid-template-columns:15vw 15vw 15vw 15vw 15vw 15vw;
    justify-content:center;
    align-content:start;
    grid-gap:1vw;
}


.container-flex{
    display:flex;
}

h1{
    grid-column:span 6;
    padding-top:15vh;
}

#logo{
    grid-column:3/5;
}

#logo img{
    width: 100%;
}

nav{
    width: 100vw;
    grid-column:span 6;
}

section div{
    grid-column: span 6;
}

nav ul li{
    display:inline;
    list-style: none;
}

nav ul li a{
    margin-left: 5vw;
    margin-top: 3vh;
    width:20vw;
    font-size: 7vw;
    text-decoration: none;
    color: #696969;
}

header{
    width: 102vw;
    height:15vh;
    border:1px solid #000;
    position:fixed;
    top:0;
    left:0;
    background-color: #ffffff;
}

section{
     width:100vw;
     min-height: 60vh;
} 

section div{
    margin-top: 4vh;
    grid-column:span 6;
    padding: 0 3vw 0 3vw;
}

h1{
    grid-column: span 6;
    padding-top: 15vh;
    line-height:40px;
    
}

#sobre div{
    grid-template-columns: span 3;
}

#sobre div div{
    float: left;
    width:50%;
    align-self:flex-end;
}

#sobre div div img{
    width:90%;
    border:1px solid #333;
}

#sobre{
    letter-spacing:1px;
    line-height:20px;
}

#sobre div p{
    text-indent:20px;
    text-align:justify;
    line-height:1,5;
}

#cursos div img{
    width:100%;
}

#cursos div h2{
    background-color: #ddd;
    text-align:center;
    padding: 2vh 0 2vh 0;
}

#valores div h2{
    margin:5vh;
    background-color: #ffffff ;
    text-align: left 8px;

}

#valores-ql{
    border-left: 2vh solid #00f;
    height: vh;
}

#valores-ef{
    border-left: 2vh solid #f00;
    height: 5vh;
}

#valores-cp{
    border-left: 2vh solid #006400;
    height: 5vh;
}

#valores-in{
    border-left: 2vh solid #ffff00;
    height:5vh;
}

#valores-pq{
    border-left: 2vh solid #ff00ff;
    height: 5vh;
}

#valores-qd{
    border-left: 2vh solid #4169e1;
    height:5vh ;
}

#planos div h2{
    margin:1vh;
    background-color:#ddd;
    text-align: center;
    padding: 2vh 0 2vh 0;
}

#planos-bz{
   border-top: 2vh solid #DAA520;
   border-width: 30vh;
}

#planos-pt{
    border-top: 2vh solid #a9a9a9;
}

#planos-or{
    border-top: 2vh solid #ffd700;
}

#cursos div h2{
    margin-top:1vh;
    background-color:#ddd;
    text-align: Center;
    padding:2vh 0 2vh 0;
}

#curso-wd{
    border-top:2vh solid #0f0;
}

#curso-prog{
    border-top:2vh solid #f00;
}

#curso-bd{
    border-top:2vh solid #00f;
}

@media only screen and (min-width:980px){
    #logo div{
        grid-column:1/2;
    }
    
#logo img{
    width:20vw;
    max-width: 100%;
}

nav{
    grid-column:1/8;
    margin-left:0vw;
    margin-top: 3vh;
}

section div{
    grid-column: span 2;
}

#sobre div{
    grid-column: span 3;
}

#cursos{
    display:flex;
}

#cursos div{
    align-self: flex-end;
    width: 30%;
}

}